* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
  text-decoration: none;
  border: none;
}

html,
body {
  /* font-size: 16px; */
  color: #000;
  font-family: adineuePRO, sans-serif;
  background: var(--white);
  line-height: 1.3;
  font-size: 16px;
}

@font-face {
  font-family: "poppins", "sans-serif";
  src: url("../assets/fonts/adineuePRO.ttf");
}

.lm-main-body {
  position: relative;
  width: 100%;
  background: linear-gradient(
      to bottom right,
      rgba(44, 24, 5, 0),
      rgba(58, 32, 2, 0)
    ),
    url(../PHOTO/bg-img.jpg);
  object-fit: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.lm-logo-img {
  width: 6rem;
}

.lm-menu {
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  padding: 1rem 2rem;
  border-radius: 7px;
  box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.3);
}

.lm-menu-picker {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.lm-menu-picker label {
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  text-transform: lowercase;
}

.lm-ordered-items {
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  padding: 1rem 2rem;
  border-radius: 7px;
  box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.3);
}
